{% extends "blocks/page" %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <ul>
            <li><a href="{{ MAIN_SITE }}">Главная</a></li>
            <li><a href="{{ route('login') }}">Войти на сайт</a></li>
        </ul>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="https://vk.com/js/api/openapi.js?151" type="text/javascript"></script>
    <script>
        const APP_VK = '{{ vkApp }}';
        const APP_FB = '{{ fbApp }}';
    </script>
    <script src="{{ asset('/js/auth.js') }}"></script>
{% endblock %}


{% block content %}
    <div class="main-wrapper-column">

        <form action="/login/" method="POST" class="cabinet-profile">
            {{ csrf_field() }}
            <div class="cabinet-profile-card m-t-lg m-b-lg" style="max-width: 570px; margin-left: auto; margin-right: auto;">
                <div class="cabinet-profile-title">
                    Войти на сайт
                </div>

                <div class="cabinet-profile-control">
                    <label class="cabinet-profile-label">Логин</label>
                    <input autofocus type="text" class="form-input" name="login" placeholder="Введите логин" required>
                </div>

                <div class="cabinet-profile-control">
                    <label class="cabinet-profile-label">Пароль</label>
                    <input type="password" class="form-input" name="password" placeholder="Введите пароль" required>
                </div>

                <div class="cabinet-profile-submit">
                    <button type="submit" class="button button-blue button-round">
                        Войти
                    </button>
                </div>

                <div>
                    <h3>Через социальные сети</h3>
                </div>

                <div>
                    <a href="#" onclick="loginVk(event)" target="_blank" title="Вконтакте">
                        {{ source("icon-social-vk") }}
                    </a>
                    <a href="#" onclick="loginFb(event)" target="_blank" title="Facebook">
                        {{ source("icon-social-facebook") }}
                    </a>
                </div>

                <div class="cabinet-profile-links">
                    или <a href="{{ route('registration') }}">зарегистрироваться</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
