{% extends "blocks/page" %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <ul>
            <li><a href="{{ MAIN_SITE }}">Главная</a></li>
            <li><a href="{{ route('login') }}">Личный кабинет</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}

  {% include "blocks/aside_mobile" %}
  <div class="page-title">
      Риски и рекомендации
  </div>

  <div class="main-wrapper">

      {% include "blocks/aside" %}
      
      <div class="main-wrapper-column">
          <div class="cabinet-risks">
            {% if results|length %}
              <div class="cabinet-risks-title">
                  Ваши риски
              </div>
              
              <div class="cabinet-risks-list">
                {% for result in results %}
                  {% set disease = diseases.get(result.TestResult.diseaseId) %}
                  <div class="cabinet-risks-list-item cabinet-risks-list-item-{{ result.TestResult.levelOfRisk }}">
                      <div class="cabinet-risks-list-item-label"></div>
                      <div class="cabinet-risks-list-item-name">
                          {{ disease.name }}
                      </div>
                      <div class="cabinet-risks-list-item-value c-{{ result.TestResult.levelOfRisk }}-risk">
                          {{ trans('risks.' ~ result.TestResult.levelOfRisk ) }}
                      </div>
                  </div>
                {% endfor %}
              </div>

              <div class="cabinet-risks-legend-row">
                  <div class="cabinet-risks-legend-col">
                      <div class="cabinet-risks-legend">
                          <div class="cabinet-risks-legend-title c-low-risk">
                              Низкий риск
                          </div>

                          Риск ниже, чем в популяции, на данный момент не требуется никаких диагностических мероприятий для раннего выявления или профилактики этого заболевания. Вероятность вреда от возможного вмешательства (в том числе и диагностического) превышает вероятность его пользы.
                      </div>
                  </div>

                  <div class="cabinet-risks-legend-col">
                      <div class="cabinet-risks-legend">
                          <div class="cabinet-risks-legend-title c-medium-risk">
                              Средний риск
                          </div>

                          Средний риск, Вам требуется медицинское вмешательство для снижения риска смерти от этого вида рака (скрининг или иные виды профилактики рака). Вероятность пользы от медицинского вмешательства превышает вероятность вреда.
                      </div>
                  </div>                            

                  <div class="cabinet-risks-legend-col">
                      <div class="cabinet-risks-legend">
                          <div class="cabinet-risks-legend-title c-high-risk">
                              Высокий риск
                          </div>

                          Высокий риск. Вам требуется особое медицинское наблюдение или вмешательство для радикального снижения риска смерти от этого вида рака.
                      </div>
                  </div>
              </div>

              {% if procedures|length %}

                <div class="cabinet-risks-title m-t-lg">
                    Напоминания об осмотрах
                </div>
                <div class="cabinet-risks-recommendations m-b-lg">
                    <div class="cabinet-risks-recommendations-heading">
                        <div class="cabinet-risks-recommendations-heading-name">
                            Рекомендация
                        </div>
                        <div class="cabinet-risks-recommendations-heading-date">
                            Дата напоминания
                        </div>
                        <div class="cabinet-risks-recommendations-heading-clinics">
                            Где пройти
                        </div>
                        <div class="cabinet-risks-recommendations-heading-button">
                            &nbsp;
                        </div>
                    </div>

              
                    {% for procedure in procedures %}
                        <div class="cabinet-risks-recommendation">
                            <div class="cabinet-risks-recommendation-name">
                                <div class="cabinet-risks-recommendation-title">
                                    {{ procedure.description }}
                                </div>
                                {{ procedure.name }}
                            </div>
                            <div class="cabinet-risks-recommendation-date cabinet-risks-recommendation-default-state">
                              {% if procedure.nextDate %}
                                {{ procedure.nextDate|date('d.m.Y') }}
                              {% elseif procedure.firstShown %}
                                В ближайшее время
                              {% else %}
                                Пройдена
                              {% endif %}
                            </div>
                            <div class="cabinet-risks-recommendation-clinics cabinet-risks-recommendation-default-state">
                              {% if procedure.clinics|length %}
                                <a data-tooltip data-html="risk-{{ procedure.id }}-clinics" data-position="bottom" data-trigger="click" data-arrow="true">
                                    {{ source("icon-geomarker") }}
                                    <span class="link-dotted">
                                        Список клиник
                                    </span>
                                </a>

                                <div id="risk-{{ procedure.id }}-clinics" style="display: none">
                                    <div class="cabinet-risks-recommendation-clinics-list">
                                      {% for clinic in procedure.clinics %}
                                        <div class="cabinet-risks-recommendation-clinics-list-item">
                                            <div class="cabinet-risks-recommendation-clinics-name">
                                               {% if clinic.link %}
                                                <a href="{{ clinic.link }}" target="_blank">{{ clinic.name }}</a>
                                               {% else %}
                                                   {{ clinic.name }}
                                               {% endif %}
                                            </div>
                                            <div class="cabinet-risks-recommendation-clinics-desc">
                                              {{ clinic.address }}
                                            </div>
                                        </div>
                                      {% endfor %}
                                    </div>
                                </div>
                              {% endif %}
                            </div>
                            <div class="cabinet-risks-recommendation-button cabinet-risks-recommendation-default-state">
                                <a href="#enter-date" data-enter-date class="button button-round {% if not profile.fields.getNotifications %}disabled{% endif %}">
                                    Уже пройдено
                                </a>
                            </div>

                            <div class="cabinet-risks-recommendation-enter-date cabinet-risks-recommendation-enter-date-state">
                                <input type="text" class="form-input form-input-block" data-flatpickr='{"altInput": true, "altFormat": "d.m.Y" }' data-untiltoday="1" value="" placeholder="Когда прошли?">
                            </div>
                            <div class="cabinet-risks-recommendation-button cabinet-risks-recommendation-enter-date-state">
                                <a href="#save-date" data-save-date="{{ procedure.id }}" class="button button-blue button-round">
                                    Сохранить
                                </a>
                            </div>
                            <div class="cabinet-risks-recommendation-button cabinet-risks-recommendation-enter-date-state">
                                <a href="#return" data-close-enter-date class="button button-round">
                                    Отмена
                                </a>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="cabinet-risks-recommendations-subscribe">
                      <form action="{{ route('decline-subscribe') }}" method="POST">
                        {{ csrf_field() }}
                        <div class="form-control-checkbox">
                            <input id="recommendations-subscribe" name="subscribe" {% if not profile.fields.getNotifications %}checked{% endif %} type="checkbox">
                            <label for="recommendations-subscribe">
                                Отказаться от напоминаний по e-mail
                            </label>
                        </div>
                      </form>
                    </div>

                    <div>
                        <button type="button" class="button button-blue button-round" id="test-again-btn">Пройти тест еще раз</button>
                        <div class="modal-overlay hidden" id="test-again-modal">
                            <div class="modal-window test-again-modal">
                                <div class="test-again-sign"></div>
                                <div class="test-again-content">
                                    <p>Тест Screen рекомендуется проходить раз в год или при серьезных изменениях в состоянии здоровья, которые могут отразиться на факторах риска возникновения рака.</p>
                                    <p>Мы не рекомендуем перезапускать тест для того, чтобы пройти его за своего родственника или друга - для этого лучше создать отдельный аккаунт. После перепрохождения теста предыдущие результаты будут удалены.</p>
                                </div>
                                <div class="test-again-footer">
                                        <button class="button button-white button-round button-small" id="test-again-close">Отмена</button>
                                        <a href="https://www.nenaprasno.ru/test/" class="button button-blue button-small button-round">Пройти тест</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
              {% endif %}
            {% else %}
              <div class="cabinet-risks-title">
                Пожалуйста, пройдите онлайн тестирование Screen
              </div>
              <div class="cabinet-risks-go-screen">
                <a href="{{ MAIN_SITE }}/screen/" class="button button-blue button-round">
                    Перейти на страницу тестирования
                </a>
              </div>
            {% endif %}
          </div>   
      </div>
  </div>
{% endblock %}