{% extends "blocks/page" %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <ul>
            <li><a href="{{ MAIN_SITE }}">Главная</a></li>
            <li><a href="{{ route('settings') }}">Настройки</a></li>
        </ul>
    </div>
{% endblock %}
 

{% block content %}
  <div class="page-title">
      Настройки
  </div>

  <div class="main-wrapper">
      
      {% include "blocks/aside" %}

      <div class="main-wrapper-column">
          <form action="{{ route('save-profile') }}" method="POST" class="cabinet-profile">
            {{ csrf_field() }}
              <div class="cabinet-profile-card">
                  <div class="cabinet-profile-title">
                      Персональные данные
                  </div>

                  {% if errors.all()|length %}
                    <div class="cabinet-profile-control">
                      {% for error in errors.all() %}
                        <div class="cabinet-error">
                            {{ error }}
                        </div>
                      {% endfor %}
                    </div>
                  {% endif %}

                  <div class="cabinet-profile-subtitle">
                      1. Личные данные
                  </div>

                  <div class="cabinet-profile-control">
                      <label class="cabinet-profile-label">ФИО</label>
                      <input type="text" class="form-input" name="firstName" placeholder="Введите имя" value="{{ profile.fields.firstName }}" required>
                  </div>

                  <div class="row">
                      <div class="col-xs-12 col-md-6">
                          <div class="cabinet-profile-control">
                              <label class="cabinet-profile-label">Дата рождения</label>
                              <input 
                                name="birthdate" 
                                type="text" 
                                class="form-input" 
                                {% if not profile.fields.birthdate is null %}
                                  value="{{ profile.fields.birthdate|date('d.m.Y') }}"
                                {% endif %}
                                data-flatpickr 
                                placeholder="дд.мм.гггг"
                              >
                          </div>
                      </div>
                      <div class="col-xs-12 col-md-6">
                          <div class="cabinet-profile-control">
                              <label class="cabinet-profile-label">Пол</label>

                              <div class="form-control-radio-tabs" style="width: 100%;">
                                  <div class="form-control-radio-tab">
                                      <input 
                                        id="cabinet-profile-sex-male" 
                                        type="radio" name="sex" 
                                        value="0" 
                                        {% if profile.fields.sex is same as (0) %}checked{% endif %} 
                                        autocomplete="off"
                                      >
                                      <label for="cabinet-profile-sex-male">Мужчина</label>
                                  </div>

                                  <div class="form-control-radio-tab">
                                      <input 
                                        id="cabinet-profile-sex-female" 
                                        type="radio" 
                                        name="sex" 
                                        value="1" 
                                        {% if profile.fields.sex is same as (1) %}checked{% endif %} 
                                        autocomplete="off"
                                      >
                                      <label for="cabinet-profile-sex-female">Женщина</label>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>


                  <div class="cabinet-profile-subtitle">
                      2. Контактные данные
                  </div>

                  <div class="row">
                      <div class="col-xs-12 col-md-6">
                          <div class="cabinet-profile-control">
                              <label class="cabinet-profile-label">Мобильный телефон</label>
                              <input name="phoneNumber" type="tel" class="form-input" value="{{ profile.fields.phoneNumber }}" placeholder="Введите телефон" data-inputmask="'mask': '+7 999 999-99-99'">
                          </div>
                      </div>
                      <div class="col-xs-12 col-md-6">
                          <div class="cabinet-profile-control">
                              <label class="cabinet-profile-label">E-mail (логин)</label>
                              <input name="email" required type="email" class="form-input" value="{{ profile.fields.email }}" placeholder="Введите E-mail">
                          </div>
                      </div>
                  </div>

                  <div class="cabinet-profile-subtitle">
                      3. Местонахождение
                  </div>

                  <div class="row">
                      <div class="col-xs-12 col-md-12">
                          <div class="cabinet-profile-control">
                              <label class="cabinet-profile-label">Регион</label>
                              <select name="regionId" class="form-input">
                                <option value="">Выберите регион</option>
                                {% for region in regions %}
                                  {% if region.id == profile.fields.regionId %}
                                    <option selected value="{{ region.id }}">{{ region.title }}</option>
                                  {% else %}
                                    <option value="{{ region.id }}">{{ region.title }}</option>
                                  {% endif %}
                                {% endfor %}
                              </select>
                          </div>
                      </div>

                      <div class="col-xs-12 col-md-6 col-md-offset-6">

                          <div class="cabinet-profile-submit">
                              <div class="row">
                                  <div class="col-xs-6">
                                      <a href="#" class="button button-white button-round button-block">
                                          Отмена
                                      </a>
                                  </div>
                                  <div class="col-xs-6">
                                      <button type="submit" class="button button-blue button-round button-block">
                                          Сохранить
                                      </button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

            </form>

            <form action="{{ route('change-password') }}" method="POST" class="cabinet-profile">
              {{ csrf_field() }}
              <div class="cabinet-profile-card">
                  <div class="cabinet-profile-title">
                      Безопасность
                  </div>

                  <div class="cabinet-profile-control">
                      <label class="cabinet-profile-label">Текущий пароль</label>
                      <input type="password"  class="form-input" name="password" placeholder="Текущий пароль">
                  </div>

                  <div class="cabinet-profile-control">
                      <label class="cabinet-profile-label">Новый пароль</label>
                      <input type="password"  class="form-input" name="newpassword" placeholder="Новый пароль">
                  </div>

                  <div class="cabinet-profile-control">
                      <label class="cabinet-profile-label">Повторите новый пароль</label>
                      <input type="password" required class="form-input" name="confirm" placeholder="Повторите пароль">
                  </div>

                  <div class="cabinet-profile-submit text-right">
                      <button type="submit" class="button button-blue button-round">
                          Сохранить
                      </button>
                  </div>
              </div>
            </form>
            <form action="{{ route('save-subscribes') }}" method="POST" class="cabinet-profile">
              {{ csrf_field() }}
              <div class="cabinet-profile-card">
                  <div class="cabinet-profile-title">
                      Настройка уведомлений
                  </div>

                  <div class="cabinet-profile-control">
                      <div class="form-control-checkbox">
                          <input id="cabinet-profile-subscribe" {% if profile.fields.getEmails %}checked{% endif %} name="subscribe" type="checkbox">
                          <label for="cabinet-profile-subscribe">
                              Хочу получать новости «Фонда профилактики рака» (не чаще 1 р/нед)
                          </label>
                      </div>
                  </div>

                  <div class="cabinet-profile-control">
                      <div class="form-control-checkbox">
                          <input id="cabinet-profile-notifications" name="notifications" {% if not profile.fields.getNotifications %}checked{% endif %} type="checkbox">
                          <label for="cabinet-profile-notifications">
                              Отказаться от напоминаний о прохождении обследований
                          </label>
                      </div>
                  </div>

                  <div class="cabinet-profile-submit  text-right">
                      <button type="submit" class="button button-blue button-round">
                          Сохранить
                      </button>
                  </div>
              </div>
          </form>

      </div>
  </div>
{% endblock %}